.card {
  position: relative;
  width: 22.41%;
  overflow: hidden;
  // flex-shrink: 0;
  // max-width: 100%;
  // width: 22.41%;
  // overflow: hidden;

  @include vp-1199 {
  }
}

.card__wrapper {
  height: 100%;
  min-height: 242px;
  margin: 0;
  position: relative;
  color: $color-default-white;
  cursor: pointer;
  // width: 260px;

  @include vp-1199 {
    //временно, для PF карточки
    // width: 268px;
    // height: 294px;
  }

  @include vp-767 {
    //временно, для PF карточки
    width: 226px;
    // height: 294px;
  }

  @include hover {
    h3 {
      display: none;
    }

    .card__info {
      display: flex;
    }
  }

  h3 {
    position: absolute;
    bottom: 8.2%;
    left: 30%;
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
}

.card__wrapper:focus-within {
  h3 {
    display: none;
  }

  .card__info {
    display: flex;
  }
}

.card__info {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 51px 46px 33px 40px;
  display: none;
  flex-direction: column;
  // justify-content: space-between;
  background: rgba(16, 38, 84, 0.89);
  overflow-y: scroll;
  // opacity: 0;

  // @include vp-1023 {
  //   padding: 30px 35px 35px;
  // }

  @include vp-767 {
    padding: 48px 13px 30px;
  }

  h4 {
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  span {
    margin-bottom: 13px;
    padding-left: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;
    text-align: center;

    @include vp-1199 {
      padding-left: 0;
    }

    @include vp-767 {
      margin-bottom: 20px;
    }
  }
}

.card__list {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-size: 14px;
  line-height: 21px;
}


.card__img-wrapper {
  // width: 260px;

  @include vp-1199 {
    //временно, для PF карточки
    // width: 268px;
    // height: 294px;
  }

  @include vp-767 {
    width: 226px;
    height: 274px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // aspect-ratio: 1/1.5;

    @include vp-1199 {
      // width: 268px;
      max-height: 294px;
    }

    @include vp-767 {
      // width: 226px;
      max-height: 274px;
    }
  }
}
