.card {
  position: relative;
  text-align: center;

  @include vp-1199 {
    padding-top: 51.95%;
  }

  @include vp-767 {
    padding-top: 121.23%;
  }
}

.card h3 {
  position: absolute;
  bottom: 12px;
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: $color-default-white;
  font-size: 18px;
  line-height: 27px;
  z-index: 1;

  @include vp-1199 {
    left: 3px;
  }
}

.card:focus,
.card:hover {
  h3 {
    display: none;
  }

  .card__info {
    display: block;
  }
}

.card__info {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 38, 84, 0.89);
  color: $color-default-white;
  text-align: center;
  padding: 52px 20px 10px;
  overflow-y: auto;

  @include vp-1199 {
    padding: 53px 17px 10px 9px;
  }

  @include vp-767 {
    padding: 43px 17px 30px;
  }

  h4 {
    margin: 0 auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    @include vp-1199 {
      line-height: 23px;
    }
  }

  span {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    color: #b6bdcc;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 32px;
    }
  }
}

.card__list {
  margin: 0;
  padding: 0;
  padding-left: 50px;
  font-size: 14px;
  line-height: 21px;
  text-align: left;

  @include vp-1199 {
    padding-left: 61px;
  }

  @include vp-767 {
    padding-left: 30px;
  }
}

.card__item {
  margin-bottom: 13px;
}

.card img {
  vertical-align: top;
  width: 100%;

  @include vp-1199 {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
