.intro__wrapper {
  display: flex;

  @include vp-1199 {
    justify-content: space-between;
  }

  @include vp-767 {
    justify-content: space-around;
  }
}

.intro__description {
  margin-right: 64px;
  padding-top: 104px;
  padding-left: 96px;
  font-family: $ff-titles;
  font-weight: 600;
  text-align: right;
  position: relative;

  @include vp-1199 {
    width: 48%;
    margin-right: 30px;
    padding-top: 52px;
    padding-left: 0;
  }

  @include vp-767 {
    width: 100%;
    max-width: 570px;
    margin-right: 0;
    padding-top: 51px;
  }

  span {
    display: inline-block;
    margin: 0;
    margin-bottom: 15px;
    padding-right: 52px;
    font-weight: 600;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    @include vp-1199 {
      margin-bottom: 7px;
      padding-right: 7px;
      font-size: 29px;
      line-height: 39px;
    }

    @include vp-767 {
      margin-bottom: 13px;
      padding-right: 5px;
      font-size: 24px;
      line-height: 34px;
    }
  }

  h1 {
    max-width: 300px;
    margin: 0;
    margin-bottom: 49px;
    font-weight: 800;
    font-size: 92px;
    line-height: 110px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    @include vp-1199 {
      margin-bottom: 38px;
      margin-left: auto;
      font-size: 75px;
      line-height: 86px;
      text-transform: lowercase;
      letter-spacing: 0.03em;
    }

    @include vp-767 {
      margin-bottom: 24px;
    }
  }
}

.intro__list {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 115px;
  top: 292px;
  right: 262px;
  list-style-type: none;
  font-family: $ff-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  align-items: center;
  text-align: right;

  @include vp-1199 {
    top: 48%;
    right: 212px;
  }

  @include vp-767 {
    top: 50%;
    right: 178px;
  }
}

.intro__img {
  margin-top: -12px;

  @include vp-1199 {
    margin-top: 0;
    width: 324px;
    height: 390px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.intro__button {
  display: block;
  max-width: 230px;
  margin-left: auto;
  padding: 18px 20px;
  font-family: $ff-main;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-white;
  border: 4px solid $color-default-white;


  @include hover {
    color: $color-sapphire;
    border: 4px solid $color-sapphire;
  }

  @include focus {
    &.focus-visible:focus {
      border: 4px solid $color-sapphire;
    }
  }

  @include vp-1199 {
    padding: 18px 10px;
    max-width: 183px;

    @include hover-focus {
      color: $color-default-white;
      border: 4px solid $color-default-white;
    }
  }

  @include vp-767 {
    margin-left: auto;
    width: 100%;
    max-width: 300px;
  }
}

.intro__button:active {
  opacity: 0.3;
}
