.membership {
  padding: 120px 0;
  background-color: $color-ghost-white;
  overflow-x: clip;

  @include vp-1199 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 70px 0 73px;
  }

  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-family: $ff-titles;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    text-align: center;

    @include vp-1199 {
      margin-right: 17px;
      margin-bottom: 10px;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      margin-bottom: 9px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.membership__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;

  @include vp-1199 {
    padding: 0 118px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.membership__backimg {
  position: absolute;
  width: 464px;
  height: 415px;
  bottom: -191px;
  right: -291px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include vp-1199 {
    width: 414px;
    height: 400px;
    bottom: -180px;
    right: -121px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    display: block;
    object-fit: contain;
  }
}

.membership__duration-list {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include vp-1199 {
    margin-bottom: 45px;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }
}

.membership__duration-list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(120, 120, 120, 0.2);
  bottom: 0;
  left: 0;
}

.membership__duration-button {
  display: block;
  padding: 20px 0;
  font-size: 20px;
  line-height: 30%;
  color: rgba(16, 38, 84, 0.5);
  border: none;
  background-color: $color-transparent;
  position: relative;
  cursor: pointer;

  @include hover {
    color: $color-sapphire;
    box-shadow: 6px 10px 7px 3px rgba(16, 38, 84, 0.5);
  }

  @include vp-1199 {
    padding: 21px 0;
    font-size: 18px;
    line-height: 27%;

    @include hover-focus {
      color: rgba(16, 38, 84, 0.5);
      box-shadow: none;

      &.focus-visible:focus {
        box-shadow: none;
      }
    }
  }

  &:focus {
    outline: 2px solid rgba(16, 38, 84, 0.5);
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24%;
  }
}

.membership__duration-button:active {
  opacity: 0.5;
}

.membership__duration-button.is-active {
  color: $color-sapphire;
  border-bottom: 3px solid #d10a42;

  @include hover {
    box-shadow: none;
  }
}

.membership__duration-item:not(:last-child) {
  margin-right: 52px;

  @include vp-1199 {
    margin-right: 59px;
  }

  @include vp-767 {
    margin-right: 45px;
  }
}

.membership__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2.5rem;
  justify-content: center;

  @include vp-1199 {
    grid-template-columns: repeat(auto-fit, minmax(442px, 500px));
  }

  @include vp-767 {
    grid-template-columns: repeat(auto-fit, minmax(290px, 500px));
    gap: 2.3rem;
  }
}

.membership__tab-content {
  display: none;
}

.membership__tab-content.is-active {
  display: block;
  width: 100%;
}

.membership__item {
  padding: 3.2rem 4.5rem 3.75rem;
  text-align: center;
  background-color: $color-default-white;
  border: 7px solid $color-default-white;

  @include hover {
    border: 7px solid transparent;
    border-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
    border-image-slice: 1;

    .membership__button {
      color: $color-default-white;
      background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
      border: none;

      @include hover {
        color: $color-default-white;
        background-color: #003eb7;
        background-image: none;
        border: none;
      }
    }
  }

  @include vp-1199 {
    padding: 3.5rem 7rem 3.9rem;
  }

  @include vp-767 {
    padding: 2.7rem 2rem 3rem;
  }

  h3 {
    margin: 0;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 1.63rem;
    line-height: 2.5rem;

    @include vp-1199 {
      margin-bottom: 10px;
      font-size: 1.63rem;
      line-height: 1.8rem;
    }

    @include vp-767 {
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
  }

  span {
    display: inline-block;
    margin-bottom: 19px;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #495a7d;

    @include vp-767 {
      margin-bottom: 14px;
    }
  }

  p {
    padding-top: 41px;
    margin: 0 0 36px;
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 5.6rem;
    color: $color-egyptian-blue;
    position: relative;
    z-index: 2;

    @include vp-1199 {
      padding-top: 39px;
    }

    @include vp-767 {
      margin-bottom: 25px;
      padding-top: 28px;
      padding-left: 5px;
      font-size: 48px;
      line-height: 72px;
    }

    span {
      margin: 0;
      font-family: "Rouble", "Arial", sans-serif;
      font-size: 3.75rem;
      line-height: 5.6rem;
      color: $color-sapphire;

      @include vp-767 {
        font-size: 2.75rem;
        line-height: 5.6rem;
      }
    }
  }
}

.membership__item p::after {
  content: attr(data-price) "";
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%);
  font-family: $ff-main;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #e8e8e8;
  text-align: center;
  opacity: 0.48;
  z-index: -1;

  @include vp-767 {
    top: -3px;
    font-size: 80px;
    line-height: 120px;
  }
}

.membership__item:focus-within {
  border: 7px solid transparent;
  border-image: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  border-image-slice: 1;

  .membership__button {
    color: $color-default-white;
    background-image: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    border: none;

    &:focus {
      color: $color-default-white;
      background-color: #003eb7;
      background-image: none;
      border: none;
    }
  }
}

.membership__button {
  display: block;
  padding: 23px 23px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-sapphire;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #102654;
  user-select: none;

  @include vp-1199 {
    padding: 23px 5px;
  }
}

.membership__button:active {
  opacity: 0.8;
}

.membership__price {
  span {
    @include vp-767 {
      font-size: 48px;
      line-height: 72px;
    }
  }
}
