.trainers__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px 91px;
  // max-width: 1250px;
  // margin-right: auto;
  // margin-left: auto;
  // padding-right: 45px;
  // padding-left: 45px;
  // margin: 0 auto;
  // width: 100%;
  // min-width: 320px;
  // max-width: 1270px;
  // padding: 0 55px 91px 55px;

  @include vp-1199 {
    // max-width: 680px;
    padding: 0 45px 100px;
  }

  @include vp-767 {
    padding: 0 15px 70px;
  }

  h2 {
    margin: 0;
    margin-bottom: 48px;
    font-family: $ff-titles;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin-bottom: 31px;
      font-size: 42px;
      line-height: 50px;
      text-align: center;
    }

    @include vp-767 {
      margin-bottom: 50px;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.trainers__wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;

  @include vp-1199 {
    // margin: 0 auto;
    // padding: 0 56px;
    // width: 678px;
    max-width: 566px;
    // margin: 0 auto;
  }

  @include vp-767 {
    max-width: 226px;
  }
}

.trainers__wrapper--desktop {
  width: calc(100% + 120px);
  margin: 0 0 0 -60px;
}

.trainers__list {
  display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;

  @include vp-1199 {
    padding: 0 56px;
  }

  @include vp-767 {
    padding: 0 32px;
  }
}


// .trainers__card {
//   // margin-right: 40px;
//   // margin-bottom: 40px;
// }
