@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Rouble";

  font-display: swap;
  src:
    url("../fonts/rouble.woff2") format("woff2"),
    url("../fonts/rouble.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Alumni Sans";

  font-display: swap;
  src:
    url("../fonts/alumnisansmedium.woff2") format("woff2"),
    url("../fonts/alumnisansmedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Alumni Sans";

  font-display: swap;
  src:
    url("../fonts/alumnisanssemibold.woff2") format("woff2"),
    url("../fonts/alumnisanssemibold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Alumni Sans";

  font-display: swap;
  src:
    url("../fonts/alumnisansbold.woff2") format("woff2"),
    url("../fonts/alumnisansbold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";

  font-display: swap;
  src:
    url("../fonts/robotocondensedregular.woff2") format("woff2"),
    url("../fonts/robotocondensedregular.woff") format("woff");
}
